.chatbot_container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 90%;
  z-index: 20000;
}

.chatbot_header {
  background-color: #0070f3;
  color: #ffffff;
  padding: 1em 1.3em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.chatbot_body {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 10px;
  width: 400px;
  right: 0px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 75px;
  font-size: 12px;
  max-width: 20em;

  @media (min-width: 1100px) {
    max-width: 25em;
  }
}

.questions_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: calc(100% - 50px);
  overflow-y: auto;

  @media (min-width: 1100px) {
    text-align: center;
  }
}

.question_item {
  margin: 8px 0;
  cursor: pointer;
  color: #0070f3;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.question_item:hover {
  background-color: #f0f0f0;
  border-color: #0070f3;
}

.chat_history {
  padding: 16px;

  @media (min-width: 1100px) {
    padding: 16px 0px 16px 16px;
  }
}

.chat_bubble {
  background-color: #0070f3;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px 0px 10px 45px;
  max-width: 80%;
  align-self: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.answer_bubble {
  background-color: #e0e0e0;
  color: #333333;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px 0;
  max-width: 80%;
  align-self: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.typing {
  font-style: italic;
  padding-top: 10px;
  color: #666666;
}
