.coverWrapper {
  background-color: black;
  height: 20em;
  height: 35em;

  position: relative;

  @media (max-width: 1000px) {
    height: 60vw;
  }

  .cover {
    background-image: url("../../../public/cover\ background.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-position: center;
    width: 100vw;
    height: 100%;
  }

  .intro {
    color: white;

    @media (max-width: 1000px) {
      font-size: 8vw;
    }

    text-shadow: 2px 2px 2px black;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}
