.searchAndSortProducts {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 3em;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 40vw;
}

.searchLabel {
  margin-bottom: 0.7em;
  font-size: 1.2em;
}

.sortProducts {
  position: relative;
}

.dropdownButton {
  background-color: var(--theme);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
  transition: 0.5s ease-out;

  &:hover {
    opacity: 0.7;
  }
}

.dropdownMenu {
  position: absolute;
  top: 115%;
  left: -20px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  width: 160px;
}

.dropdownMenu button {
  background: none;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;

  svg {
    color: rgb(45, 45, 45);
    margin-right: 10px;
  }
}

.dropdownMenu button:hover {
  background-color: #f1f1f1;
}
