* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
