.height {
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1em;
}

.product {
  flex: 1 1 calc(25% - 2em);
  padding: 10px;
  margin: 1em;
  border-radius: 5px;
  min-width: 200px;

  box-sizing: border-box;
  transition: transform 300ms;
}

.product .avatar {
  width: 10em;
  height: 8em;
  background-color: #ccc;
  border-radius: 25%;
  margin-bottom: 8px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
}

.product .line {
  width: 100%;
  height: 12px;
  margin-top: 8px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #ddd 0px, #9a9a9a 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}

.product .avatar + .line {
  margin-top: 8px;
  width: 8em;
}

.product .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}
